@if (error()) {
  <div class="page page--h-centered page--v-centered">
    <div>
      <h2>{{ 'unableToLoadArtworks' | transloco }}</h2>
      <p>{{ 'sorryWeCouldntFetch' | transloco }}</p>
    </div>
  </div>
} @else {
  @if (count() === 0 && error() === null && isLoading() === false) {
    <div class="page page--h-centered page--v-centered">
      <h2>{{ 'artsNotFound' | transloco }}</h2>
    </div>
  } @else {
    <div class="artpage__grid">
      @for (artPreview of allArts(); track artPreview.id) {
        <ArtPreview [artPreview]="artPreview"></ArtPreview>
      }
    </div>
    @if ((this.offset() + 1) * 20 < this.count()) {
      <div class="artpage__loadmore">
        <button class="artpage__loadmore__button" (click)="loadMore()">{{ 'loadMore' | transloco }}</button>
      </div>
    }
  }

  @if (isLoading()) {
    <div class="artpage__grid">
      @for (i of Array(6); track $index) {
        <div class="art-preview art-preview--skeleton">
          <article class="art-preview__card">
            <ngx-skeleton-loader count="1" [theme]="{ 'margin-bottom': '0', 'padding': '0', 'width': '100%', 'min-height': '300px', 'aspect-ratio': '4 / 3', 'background-color': 'var(--SkeletonBackground)', 'border-radius': '4px', 'opacity': '0.1' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" [theme]="{ 'width': '100%', 'height': '1.75rem', 'border-radius': '0', 'background-color': 'var(--SkeletonBackground)', 'opacity': '0.1', 'margin-bottom': '0', 'padding': '0' }"></ngx-skeleton-loader>
          </article>
        </div>
      }
    </div>
  }

  @if (!isLoading() && hasMore()) {
    <div class="artpage__loadmore">
      <button (click)="loadMore()" class="artpage__loadmore__button">Load More</button>
    </div>
  }
}
