<nav>
  <ul class="horizontalNavigation">
    <li class="logoListItem">
      <a href="/home">
        <div class="logoDiv">
          <img class="logoImg" priority ngSrc="/assets/images/Logo_Light_Big.png" alt="HomepageLogo" height="687" width="2150">
        </div>
      </a>
    </li>
    <li class="horizontalLi">
      <a href="/">
        <h2>{{ 'Home' | transloco }}</h2>
      </a>
    </li>
    <li class="horizontalLi">
      <a href="/aboutme">
        <h2>{{ 'AboutMe' | transloco }}</h2>
      </a>
    </li>
    <li class="horizontalLi">
      <a href="/projects">
        <h2>{{ 'Projects' | transloco }}</h2>
      </a>
    </li>
    <li class="horizontalLi rightAlignedDiv">
      <div>
        <a href="/contact">
          <h2>{{ 'Contact' | transloco }}</h2>
        </a>
      </div>
    </li>
    <li class="BurgerMenuHorizontal rightAlignedDiv">
      <button (click)="toggleSidebar()" >
        <img ngSrc="/assets/svg/Burger.svg" alt="Open Sidebar" height="35" width="40">
      </button>
    </li>
  </ul>

  <ul [class.open]="openSidebar" class="sideBar">
    <li>
      <button (click)="toggleSidebar()" tabindex="0" class="sideBar__button">
        <img ngSrc="/assets/svg/X.svg" alt="Close Sidebar" class="close" height="40" width="40">
      </button>
    </li>
    <li class="verticalLi">
      <a href="/">
        <h2>{{ 'Home' | transloco }}</h2>
      </a>
    </li>
    <li class="verticalLi">
      <a href="/aboutme">
        <h2>{{ 'AboutMe' | transloco }}</h2>
      </a>
    </li>
    <li class="verticalLi">
      <a href="/projects">
        <h2>{{ 'Projects' | transloco }}</h2>
      </a>
    </li>
    <li class="verticalLi">
      <div>
        <a href="/contact">
          <h2>{{ 'Contact' | transloco }}</h2>
        </a>
      </div>
    </li>
    <li class="logoListItem bottomAlignedDiv">
      <a href="/home">
        <div class="logoDiv">
          <img class="logoImg" priority ngSrc="/assets/images/Logo_Light_Big.png" alt="HomepageLogo" height="687"
               width="2150">
        </div>
      </a>
    </li>
  </ul>
</nav>
