<div class="text-input">
  @if (shouldShowFloatingLabel()) {
    <label
      class="text-input__label--text"
      [class.text-input__label--text--floating]="shouldFloatLabel()"
      [for]="inputId()">
      {{ label() | transloco }}
    </label>
  }

  <div class="text-input__field-wrapper">
    <ng-content></ng-content>

    @if (isPasswordType()) {
      <div class="text-input__show-password">
        <button
          type="button"
          (click)="togglePassword()"
          class="text-input__show-password-btn"
          [attr.aria-label]="passwordToggleLabel() | transloco">
          <img [ngSrc]="passwordIconSrc()" [alt]="passwordToggleLabel() | transloco" height="20" width="20" class="text-input__password-icon">
        </button>
      </div>
    }
  </div>

  @if (shouldShowCheckboxLabel()) {
    <label class="text-input__label--checkbox" [for]="inputId()">
      {{ label() | transloco }}
    </label>
  }

  @if (errorMessage()) {
    <div
      class="text-input__error"
      role="alert"
      [id]="errorId()">
      {{ errorMessage() | transloco }}
    </div>
  }
</div>
