<div class="text-input">
  @if (type === "text" || type === "password" || type === "textarea") {
    <label class="text-input__label--text" [class.text-input__label--text--floating]="isFocused || hasValue">
      {{ label }}
    </label>
  }

  <ng-content></ng-content>

  @if (type === "checkbox" || type === "radio") {
    <label class="text-input__label--checkbox">
      {{ label }}
    </label>
  }

  @if (type === "password") {
    <div class="text-input__show-password">
      @if (showPassword) {
        <button type="button" (click)="handleShowPassword($event)" class="text-input__show-password--show">
          <img ngSrc="/svg/Eye__shut.svg" [alt]="'ShowPassword' | transloco " height="19" width="40">
        </button>
      } @else {
        <button type="button" (click)="handleShowPassword($event)" class="text-input__show-password--hide">
          <img ngSrc="/svg/Eye__open.svg" [alt]="'HidePassword' | transloco " height="25" width="40">
        </button>
      }
    </div>
  }

  @if (errorMessage) {
    <label class="text-input__error">
      {{ errorMessage }}
    </label>
  }
</div>
