@if (pictures()) {
  <ngb-carousel class="carousel" [showNavigationArrows]="showNavigation()" [showNavigationIndicators]="showIndicators()" [pauseOnFocus]="pauseOnFocus()" [pauseOnHover]="pauseOnHover()" [interval]="interval()" [wrap]="wrap()">
    @for (slide of pictures(); track $index) {
      <ng-template ngbSlide class="carousel-template">
        <div class="picsum-img-wrapper carousel-image">
          <img [ngSrc]="pictureUrl(slide)" [class.darkened]="darkened()" fill [alt]="slide.name" priority/>
        </div>
      </ng-template>
    }
  </ngb-carousel>
} @else {
  <div>
    <h1>Image carousel: Please implement</h1>
  </div>
}
