.art-preview {
  width: 100%;
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-text-fill-color: unset;

  * {
    -webkit-text-fill-color: unset;
  }

  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--Background);
    padding: 0.5rem;
    gap: 0.5rem;

    &__picture {
      width: 100%;
      aspect-ratio: 4 / 3;
      object-fit: cover;
      display: block;
    }

    &__information {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;

      &__title {
        margin: 0;
        font-size: 1.3rem;
        max-width: 100%;
        text-wrap: wrap;
        word-wrap: break-word;
        display: block;
        overflow-wrap: break-word;
      }
    }

    &__meta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.95rem;
      color: var(--SubtleText);
    }
  }
}
